

html, body {
	min-width: 740px;
}

body, p, li, div, a {
	font-family: Verdana, sans-serif;
	font-size: 9pt;
}

body {
	background: #fff;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}


img {
	border: none;
}

hr {
	color: black;
	margin: 1.5em 1em 2em 1em;
}


p {
	margin: 0.2em 0px 1.2em 0px;
	font-weight: normal;
	/* text-align: justify; */
}

p img.pthumb {
	float: left;
	height: 48px;
	margin-top: 0.4em;
	margin-right: 4pt;
	width: 48px;
}


ol, ul {
	margin: 0px 1em 0.4em 0px;
	padding-left: 1.8em;
}

li {
	margin-left: 0px;
}



a, a:link, a:visited {
	text-decoration: none;
}

a:hover, a:active, a:focus {
	background-color: #eee;
	border: none;
	text-decoration: none;
}

a {
	color: #05a;
}


/* Such nice headings */
h1, h2, h3, h4, h5 {
	color: #c60;
	font-weight: bold;
	margin: 0px;
	clear: left;
}

h2, h3, h4 {
	margin-top: 1.2em;
}

h1 {		font-size: 15pt; }
h2 {		font-size: 11pt; }
h3 {		font-size: 10pt; }
h4, h5 {	font-size: 9pt; }


/* the pretty-pretty heading and title */
#dHead {
	background: #eee
	 url("img/site_mark.png")
	 no-repeat left;
	border-bottom: 1pt solid #555;
	height: 70px;
	margin: 0px;
	position: relative;
	top: 0px;
	width: 100%;
}

#dHeadTitle {
	background-color: transparent;
	color: #222;
	font-size: 18pt; 
	font-weight: bold;
	left: 140px;
	position: absolute;
	top: 14px;
}

#dHeadTitle p.subtitle {
	font-size: 10pt;
	color: #555;
}

#dHeadLogo {
	position: absolute;
	right: 20px;
	top: 14px;
}

#dHeadNav {
	bottom: 2px;
	color: #000;
	font-weight: bold; 
	position: absolute;
	right: 20px;
}


/* layout for the menu, body, and optional sidebar is done with a table. Why?
   Because it works sanely and takes less code!! */
#tLayout {
	border: none;
	margin: 5px 0px;
	position: relative;
	top: 0px;
	width: 100%;
}

#tLayout td {
	vertical-align: top;
}

#cNav {		width: 160px; }
#cBody {	width: auto; }
#cSide {	width: 200px; }


/* the date, maybe a nested path indicator, and a dotted line */
#dMainHead {
	border-bottom: thin dotted #aaa;
	height: 1.6em;
	margin: 0px;
	padding: 0.2em 0px 0.2em 0px;
}

#dMainHead p {
	color: #aaa;
	line-height: 1em;
	margin: 0px;
	padding: 0px;
}


/* the actual content for the page hides in here */
#dMainBody {
	padding: 0.2em 10px 0px 0px;
}


/* the optional sidebar, and the pair of settings for the main body */
#dMainSide {
	font-size: 9pt;
	padding: 0px 10px 40px 10px;
	border-left: thin dotted #69c;
	font-family: Verdana, Arial, sans-serif;
}

#dMainSide ul, #dMainSide ol {
	margin: 0px 1em 0.4em 0px;
	padding-left: 1.2em;
}


/* Formatting for the footer text: a goodbye and a copyright notice */
#dFoot {
	color: #aaa;
	text-align: center;
}

#pGoodbye, #pCopyright {
	font-size: 8pt;
	margin: 0em 0em 1em 0em;
}


/* FAQ styles */
table.question {
	border: none;
	margin: 1em 2em 0px 1em;
	width: 100%;
}

td.q-title {
	background-color: #9e9;
	padding-left: 0.6em;
	padding-right: 0.6em;
	width: auto;
}

td.q-title a {
	color: #000;
	font-weight: bold;
}

td.q-back {
	background-color: #ddd;
	padding-right: 0.6em;
	padding-left: 0.6em;
	text-align: right;
	width: 4em;
}

td.q-answer {	
	border: thin solid #cdc;
	padding: 0px 0.6em;
}

td.q-answer p {
	margin-bottom: 0.5em;
}


