

.hexdump {
	display: block;
        font-family: courier;
        font-size: 10pt;
        white-space: pre;
	padding: 0.5em;
}


.hexdump a {
        text-decoration: none;
        display: inline;
	position: relative;
	color: #000;
	font-family: inherit;
	font-size: inherit;
	margin: 0pt;
	background-color: #ffa;
}


.hexdump a:hover {
	background-color: #ff0;
}


.hexdump a span {
	display: none;
	position: absolute;
	top: 2em; left: 2em; width: 15em;
	border: 1px solid #0cf; 
	background-color: #cff;
	color: #000;
	text-align: left;
	z-index: 100;
	font-family: Verdana;
	margin: 0.2em 0.4em;
	white-space: normal;
}


.hexdump a:hover span {
	display: block;
}


.hexdump a span p {
	margin: 0em 0.1em 0.4em 0.1em;
}


.hexdump a span .size {
	font-size: 8pt;
	font-style: italic;
	color: #444;
	border-bottom: solid thin #444;
}


.hexdump a span .title {
	font-size: 10pt;
	font-weight: bold;
	color: #000;
}


.hexdump a span .body {
	font-size: 10pt;
	color: #000;
}


